
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Work Sans', sans-serif;
    background-color: black;
    color: white;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2, 50%);
}

.col {
    display: grid;
    background-color: blueviolet;
    color: blueviolet;
    border: solid red 2px;
}

.prep {
    text-align: center;
}

.prep-head {
    font-weight: 700;
}

.prep-time {
    font-size: 52px;
    font-weight: 900;
}

.minutes {
    font-weight: 900;
    letter-spacing: 2px;
}

/* 
a {
    text-decoration: none;
    color: white;
}

ul li {
    list-style: none;
}


.wrapper {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    
}

.span2 {
    width: 85%;
    grid-template-columns: repeat(2, 50%);
}