
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Work Sans', sans-serif;
    background-color: black;
    color: white;
}

.grid-title {
    display: grid;
    justify-items: center;
    align-items: center;
}

.title {
    display: grid;
    width: 50%;
    height: 50px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-between;
    align-items: center;
    margin-top: 15px;
    text-align: center;
}

.title a {
    width: auto;
}

.title h3 {
    width: 300px;
}

.grid-times {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: auto;
  
    box-sizing: border-box;
    width: 100%;
    height: 10rem;
  /*
    background: rgba(114, 186, 94, 0.05);
    border: 2px dashed rgba(114, 186, 94, 0.35);*/

    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

div.prep {
    width: 200px;
}

.prep {
    text-align: center;
}

.prep > *{
    height: 10px;
    margin: 5px;
}

.prep-head {
    font-weight: 500;
}

.prep-time {
    font-weight: 900;
    font-size: 52px;
    height: 50px;
}

.minutes {
    letter-spacing: 2px;
    font-weight: 500;
}



/* ----- RECIPE LIST ----- */
/* ----- RECIPE LIST ----- */
/* ----- RECIPE LIST ----- */

.recipe-list > * {
    background: rgba(114, 186, 94, 0.05);
    border: 2px dashed rgba(114, 186, 94, 0.35)
}

ul.recipe-list {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
  
    box-sizing: border-box;
    width: 100%;
    height: 5rem;

    justify-content: space-evenly;
    align-content: space-evenly;
    justify-items: center;
    align-items: center;
}

.recipe-list > * {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.icon {
    float: right;
}