* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Share', cursive;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

ul li {
    list-style: none;
}



.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-container {
    display: flex;

    height: auto;
    width: auto;

    justify-items: center;
    align-items: center;
    flex-direction: column;
    
}

.index-img {
    margin-top: 25px;
}

.prep p {
    font-family: 'Work Sans', serif;
}

/* --------INGREDIENTS---------- */
/* --------INGREDIENTS---------- */
/* --------INGREDIENTS---------- */

.ingredients-heading p {
    font-size: 40px;
    font-weight: bold;

    display: flex;

    justify-content: center;

    margin-top: 25px;
}

.horbar {
    display: flex;
    
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

.ingredients-content {

    width: 100%;
    height: auto;

    display: grid;

    justify-content: center;



    flex-direction: column;

    font-size: 22px;
    text-align: left;
    letter-spacing: 1px;
}

.ingredients-content p {
    margin-bottom: 10px;
}

 /*
div.recipe-con {
    display: flex;
    justify-content: center;
}

.recipe-list {
    width: 50%;
}

.recipe-listing > * {
    text-align: left; 
    margin: 10px;
}

.ingredients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

