* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Share', cursive;
    background-color: #edf6f9;
    color: #1f271b;
}

a {
    text-decoration: none;
    /*color: white;*/
    color: #1f271b;
}

ul li {
    list-style: none;
}



.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-container {
    display: flex;

    height: auto;
    width: auto;

    justify-items: center;
    align-items: center;
    flex-direction: column;
    
}

.index-img {
    margin-top: 25px;
}

.prep p {
    font-family: 'Work Sans', serif;
}

/* --------ICONS ICONS---------- */
/* --------ICONS ICONS---------- */
/* --------ICONS ICONS---------- */

.icon-y {
    color: #fca311;
}

.quart-sec-trans {
    transition: .25s ease-out;
}

.half-sec-trans {
    transition: .5s ease;
}

.hvr-slide-left:hover {
    transform: translate(-75%, 0) scale(200%);
    color: #fca311;
}

.hvr-color-grow-roleft:hover {
    color: #fca311;
    transform: scale(150%) rotate(-15deg);
    
}

.hvr-color-grow-roright:hover {
    color: #fca311;
    transform: scale(200%) rotate(15deg);
}

.hvr-big:hover {
    transform: scale(110%);
}


/* --------INGREDIENTS---------- */
/* --------INGREDIENTS---------- */
/* --------INGREDIENTS---------- */

.ingredients-heading p {
    font-size: 40px;
    font-weight: bold;

    display: flex;

    justify-content: center;

    margin-top: 25px;
}

.horbar {
    display: flex;
    
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

.ingredients-content {

    width: 100%;
    height: auto;

    display: grid;

    justify-content: center;



    flex-direction: column;

    font-size: 22px;
    text-align: left;
    letter-spacing: 1px;
}

.ingredients-content p {
    margin-bottom: 10px;
}

 /*
div.recipe-con {
    display: flex;
    justify-content: center;
}

.recipe-list {
    width: 50%;
}

.recipe-listing > * {
    text-align: left; 
    margin: 10px;
}

.ingredients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

